.header{
  padding: 1rem 0 3rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}


.navList{
  display: flex;
  list-style-type: none;
  margin: 0;
}

.navItem {
  margin-right: 1.3rem;
  font-size: .9rem;
  text-decoration: none;
  color: #999999;
}

.navItem:hover {
  color: #4f4f4f;
}

.active-nav-item{
  color:#798194
}


.link{
  color: #999999;
}